<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457525028134-8frkkhrimi1ekpa5feamj70ebpd1amam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457525028134-8frkkhrimi1ekpa5feamj70ebpd1amam</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>457525028134-58r7aocgf0ch1pt8tgkqq4esdt7felro.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBvARN294vkeJuJG_sdtBwAxhSlPlKUE4I</string>
	<key>GCM_SENDER_ID</key>
	<string>457525028134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>sac-iit-pkd</string>
	<key>STORAGE_BUCKET</key>
	<string>sac-iit-pkd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457525028134:ios:7a5f40c2bb122fc9ee4de7</string>
</dict>
</plist>